@model IEnumerable<Prueba_Tecnica_Coem.Models.DemandanteViewModel>

@{
    ViewData["Title"] = "Empleos";
    ViewData["MenuUsuario"] = true;
    Layout = "_Layout";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <h3>¡Bienvenido!</h3>
        <div class="col-md-12 mt-4">
            <div class="card shadow-lg">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.RazonSocial)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Requisitos)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Industria)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EstadoAplicacion)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.RazonSocial</td>
                                    <td>@item.Descripcion</td>
                                    <td>@item.Requisitos</td>
                                    <td>@item.Industria</td>
                                    <td>
                                        @if (!item.HaAplicado)
                                        {
                                            <a class="btn btn-outline-dark" asp-controller="Vacantes" asp-action="Aplicacion" asp-route-id="@item.Id">Aplicar</a>
                                        }
                                        else
                                        {
                                            var btnClass = "";
                                            switch (item.EstadoAplicacion)
                                            {
                                                case "Enviada":
                                                    btnClass = "btn-enviada";
                                                    break;
                                                case "Vista":
                                                    btnClass = "btn-vista";
                                                    break;
                                                case "EnProceso":
                                                    btnClass = "btn-enproceso";
                                                    break;
                                                case "Finalizada":
                                                    btnClass = "btn-finalizada";
                                                    break;
                                                default:
                                                    btnClass = "btn-outline-secondary"; // Un estilo por defecto para estados desconocidos
                                                    break;
                                            }

                                            <button class="btn @btnClass" disabled>@item.EstadoAplicacion</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>